{% extends "base.html" %}
{% block title %}METAR Getter{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-none" id="hiddenInfo">
</div>

<h1>METAR Getter</h1>
<hr>
<form name="icaoCodeForm" action="" method="get">
  Enter an ICAO airport code:
  <input type="text" id="icaoCodeInput" name="icaoCodeInput" class="form-control" oninput="updateButton()"
    value="KPIH" />
  <br>
  <button type="button" class="btn btn-success mt-2" id="getMetarButton" onclick="getMetar()">Get METAR</button>
</form>
<hr>

{% endblock %}
{% block scripts %}
<script>
  function updateButton() {
    var icaoCodeInput = document.getElementById("icaoCodeInput");
    var icaoCodeValue = icaoCodeInput.value;
    var getMetarButton = document.getElementById("getMetarButton");
    
    var removalClasses = [ "btn-success" ];
    var additionClasses = [ "btn-secondary" ];
    if (icaoCodeValue.length > 2) {
      // Good to go --- enable the button
      removalClasses.push("btn-secondary");
      additionClasses.push("btn-success");
      getMetarButton.disabled = false;
    }
    else {
      getMetarButton.disabled = true;
    }

    for (var i = 0; i < removalClasses.length; i++) {
      getMetarButton.classList.remove(removalClasses[i]);
    }

    for (var i = 0; i < additionClasses.length; i++) {
      getMetarButton.classList.add(additionClasses[i]);
    }
  }

  function getMetar() {
    window.location = "{{url_for('/', filename='getMetar')}}/" + document.getElementById("icaoCodeInput").value.trim();
  }
</script>
{% endblock %}