{% extends "base.html" %}
{% block title %}METAR Response for {{info.icaoCode}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-none" id="hiddenInfo">
</div>

<h1>METAR Response for {{info.icaoCode}}</h1>
<hr>
<h2>Time of Request:</h2>
<h3>{{info.timeSearched}}</h3>
<hr>
<h2>METAR Text (Age: {{info.metarAge}} minutes):</h2>
<h3><code>{{info.metarText}}</code></h3>
<hr>
<button class="btn btn-primary" onclick="window.location='/getMetar/{{info.icaoCode}}'">Refresh</button>
<button class="btn btn-primary" onclick="window.location='/index/{{info.icaoCode}}'">Get another METAR</button>

{% endblock %}
{% block scripts %}
<script>
</script>
{% endblock %}